name: Manual Test workflow
on:
  workflow_dispatch

jobs:
  test1:
    runs-on: ubuntu-latest
    steps:
    - name: first-fail
      run: false
      continue-on-error: true
    - name: second-fail
      run: false
      if: success()
    - name: am-i-skipped
      run: false
      if: success()
    - name: third-fail
      if: always()
      run: false
    - name: forth-fail
      if: failure()
      run: true
